.counter-container {
    border-radius: 20px;
    color: #31c48d;
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #33333d;
    overflow: hidden;
  

}


.top {
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

// .buttons {
//     display: flex;
//     width: 100%;;
//     background-color: blue;
//     height: 100px;
// }

button {
    width: 50%;
    height: 150px;
    background-color: inherit;
    border: none;
}


.increase {
    border-top: 0.5px solid #6a6a76;
    border-left: 0.5px solid #6a6a76;
}


.decrease {
    border-top: 0.5px solid #6a6a76;
}

.counter {
 
    font-size: 100px;
    font-weight: 700;
    text-align: center;
}

.increase:hover,
.decrease:hover {
    background-color: #393944;
    svg {
        fill:#31c48d;
    }
}
@media screen and (min-width: 480px) {

    .counter-container {
       width: 80vw;
       margin:auto;
       box-shadow: 0 0 7px rgb(20, 20, 20);
    }

    .counter {
        font-size: 250px;
    }


  }


  @media screen and (min-width: 840px) {
    .counter-container {
       width: 55vw;
    }



  }