.main {
    width: 100vw;
}

h1 {
  
    text-align: center;
    background-color: #31c48d;
    padding: 10px;
    color:white
}

@media screen and (min-width: 480px) {

    h1 {
        padding: 15px 0;
        background-color: inherit;
        color: #31c48d;
    }


  }