.main {
    position: relative;
    width: 100vw;
}

  
h1 {
        text-align: center;
        background-color: #31c48d;
        padding: 15px 0;
        margin: 0 auto;
        text-shadow: 0 0 5px gray;
        color: white;
}

.counterModal {
    position: fixed;  
}
  
.counterModal::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black backdrop */
    z-index: -1; /* Place the backdrop behind the modal */
  }


.intervalModal {
    position: fixed;  
}

.intervalModal::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black backdrop */
    z-index: -1; /* Place the backdrop behind the modal */
  }
.modal-content {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    height: 150px;
    width: 320px;
    justify-content: space-between;
    position: fixed;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 20px;
    border-radius: 10px;
    z-index: 1; /* Ensure the modal content is on top of the backdrop */
    button {
        font-weight: 800;
        color: white;
    }
}



input
{
    padding: 10px 5px;
    outline: none;
    border-radius: 5px;
    border: 2px solid gainsboro;
}
button {
    padding: 10px;
    background-color: #31c48d;
    border: none;
    border-radius: 5px;
}
@media screen and (min-width: 376px) {

   h1 {
        text-align: center;
        background-color: inherit;
        border: 3px solid #31c48d;
        padding: 15px 0;
        margin: 15px auto;
        width: 300px;
        border-radius: 15px;
        text-shadow: none;
        box-shadow: 0 0 5px rgb(43, 42, 42);
        // background-color: inherit;
        color: #31c48d;
}

    .counter {
        font-size: 250px;
    }


  }