.main {
    width: 100vw;
}

  
h1 {
        text-align: center;
        background-color: #31c48d;
        padding: 15px 0;
        margin: 0 auto;
        text-shadow: 0 0 5px gray;
        color: white;
}

@media screen and (min-width: 480px) {

   h1 {
        text-align: center;
        background-color: inherit;
        border: 3px solid #31c48d;
        padding: 15px 0;
        margin: 15px auto;
        width: 300px;
        border-radius: 15px;
        text-shadow: none;
        box-shadow: 0 0 5px rgb(43, 42, 42);
        // background-color: inherit;
        color: #31c48d;
}

    .counter {
        font-size: 250px;
    }


  }