
<h1>Counter App</h1>
<div class="main">
  <app-counter/>


  @if(showCounterModal){
  <div class="counterModal">
    <div class="modal-content">
      <p>Set counter to new value</p>
      <input type="number" name="counter" id="counter">
      <button (click)="closeCounterModal()">Add</button>
    </div>
  </div>
} @else if(showIntervalModal) {
  <div class="intervalModal">
    <div class="modal-content">
      <p>Set interval to ...</p>
      <input type="number" name="interval" id="interval">
      <button (click)="closeIntervalModal()">Set interval</button>
    </div>
  </div>
}
  


</div>

